/* Colors 
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$white:      #fff;
$lightgrey:  #eee;
$black:      #000;

$theme-color: $cyan;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$title-color: #313131;
$masthead-title-small-color: #c0c0c0;

/* Layout */
$reverse-layout: true;
$overlay-sidebar: false;

/* Font stack */
$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-font-awesome: FontAwesome;



body{
    font-family:calibri;
  }
.codinfox-changing-keywords{
  vertical-align:top;
  overflow:hidden;
  height:20px;
  position:relative;
  display: inline-block;
    width: 250px;
}
.hidden{
  position:absolute;
  top: 20px;
  display:inline-block;
  width:250px;
    opacity:0;
  animation: slideme 8s infinite;
}
.hidden:nth-child(3){
  animation-delay: 2s;
}
.hidden:nth-child(5){
  animation-delay: 4s;
}
.hidden:nth-child(7){
  animation-delay: 6s;
}

@keyframes slideme {
  0% {
    top: 20px;
    opacity:0;
  }
  5% {
    top: 0px;
    opacity:1;
  }
  10%{
    top : 0;
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25% {    
  opacity:0.1;
    top : 0;
  }
  30% {
    opacity:0;
    top: 20px;
  }
}